body {
    font-family: sans-serif;
    margin: 2em;
    background-color: #f4f4f4;
}

nav a {
    color: #005c9e;
    text-decoration: none;
    font-weight: bold;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}