{% extends "bonnes_lectures/base.html" %}

{% block title %}Bienvenue - Bonnes Lectures{% endblock %}

{% block content %}
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Bienvenue sur Bonnes Lectures</h1>
        <p class="col-md-8 fs-4">Votre communauté pour des avis et des recommendations sur les dernières nouveautés littéraires. Feuilletez les critiques et trouvez votre prochaine lecture !</p>
        <a href="{% url 'book-create' %}" class="btn btn-primary btn-lg" role="button">Ajouter un nouveau livre</a>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Vous êtes là où il faut !</h2>
        <p>Créez votre profil, dites-nous quels sont les derniers titres que vous avez aimés, ou vos genres favoris, et nous vous conseillerons.</p>
    </div>
</div>
{% endblock %}